<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
<script type="application/json" id="mis">


$json_dump


</script>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script>

$javascript_dump

</script>
<div>This file is adapted from:
	<a href="http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/">
		http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/
	</a>
